<div class="loginForm">
<h1 style="display: block;">Bienvenido</h1>
<h2>Inicia Sesión para comenzar</h2>

<form [formGroup]="formLogin"  (ngSubmit)="login()" >
<diV>
<mat-form-field class="example-full-width">
    <mat-label><mat-icon>person_pin</mat-icon> Username</mat-label>
    <input formControlName="username" matInput placeholder="celina_rdz_" value="">
  </mat-form-field>
</diV>
<diV>
  <mat-form-field class="example-full-width">
    <mat-label>	<mat-icon>lock</mat-icon> Password</mat-label>
    <input type="password" formControlName="password" matInput placeholder="celina_rdz_" value="">
  </mat-form-field>
</diV>


<button class="btnLogin">
  Iniciar Sesión
</button>
</form>

<div >
  <p>si no tienes cuenta <a routerLink="/register">registrate</a></p>
</div>
</div>